{{#if errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
{{#each errors }}
    <ul class="">
        <li class="">
        {{text}}
        </li>
    </ul>
{{/each}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <ul class="">
        <li class="">
        {{error}}
        </li>
    </ul>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}